body,
div,
h1,
h2,
ul,
li,
i,
a,
p,
h3,
footer {
  padding: 0;
  margin: 0;
  border: 0;
}
body {
  background-image: url(https://mocah.org/mocahbig/21090-Cat-Hacker.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: "Poppins", sans-serif;
  color: white;
}
.container{
  align-items: center;
}
.container .btn{
  
  margin-left: 1rem;
  margin-top: 0;
  border-radius: 5px;
  height: 3.2rem;
  font-size: 2rem;
  }

